.movList-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    border: 2px red;
}

.movie-card {
    box-shadow: 0 4px 8px #0A21C0;
    background-color: #282c34;
    display: flex;
    flex: 1 1 calc(20% - 30px);
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    text-align: center;
    height: 400px;
    border: 2px red;
    max-width: 250px;
    height: 520px;
    color: white;
}



.movie-card:hover {
    cursor: pointer;
    background-color: #0A21C0;
    box-shadow: 0 6px 60px #0A21C0;
}